# ClutchAI Environment Variables

# Yahoo Fantasy API Credentials (REQUIRED)
# Get these from: https://developer.yahoo.com/
YAHOO_CLIENT_ID=<INSERT KEY>
YAHOO_CLIENT_SECRET=<INSERT KEY>
YAHOO_REDIRECT_URI=https://localhost:8080

# Hashtag Basketball
# Login credentials for https://hashtagbasketball.com/
HASHTAG_BASKETBALL_USERNAME=<INSERT USERNAME OR EMAIL>
HASHTAG_BASKETBALL_PASSWORD=<INSERT PASSWORD>

#LangChain
# Get these from: https://smith.langchain.com/
LANGSMITH_API_KEY=<INSERT KEY>
LANGCHAIN_TRACING_V2=true
LANGSMITH_PROJECT=<INSERT PROJECT NAME>

# OpenAI
# Get these from https://platform.openai.com/api-keys
OPENAI_MODEL=gpt-4
OPENAI_API_KEY=<INSERT PROJECT NAME>

# YouTube Data API
# Get API key from: https://console.cloud.google.com/apis/credentials
YOUTUBE_API_KEY=<INSERT KEY>

# Firecrawl
# Get API key from: https://firecrawl.dev/app/api-keys
FIRECRAWL_API_KEY=<INSERT KEY>
