# Data Processing
pandas
numpy
python-dateutil

# Utilities
python-dotenv

# Yahoo Fantasy API
yfpy

# LLM and AI
openai
tiktoken
langchain
langchain-openai
langchainhub
langchain_community
langchain-text-splitters

#Youtube Transcript
youtube_transcript_api

# Vector Database - ChromaDB (Local)
chromadb

#Streamlit Web App
streamlit

# # Core Framework
# fastapi
# uvicorn
